@import url('~bootstrap/dist/css/bootstrap.css');
html,
body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

#main_view {
    height: 100%;
    width: 100%;
}

.map-view-container {
    height: 100%;
    width: 100%;
}

.map-view {
    height: 100%;
    width: 100%;
}

#map-container {
    height: 100%;
    width: 100%;
}

.custom-mouse-position {
    opacity: 0.9;
    background-color: #337ab7;
    border-radius: 4px;
    color: #eee;
    padding: 1px 5px;
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 190px;
    z-index: 1;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}


/* .custom-mouse-position {
    background-color: rgba(0, 60, 136, .4);
    border-radius: 4px;
    color: #eee;
    padding: 1px 5px;
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 190px;
    z-index: 1;
} */

.search-area {
    z-index: 401;
    top: 100px;
    right: 10px;
    max-width: 200px;
    position: absolute;
    display: block;
    justify-content: center;
    padding: 10px;
    background-color: #eee;
    opacity: 0.9;
    border-radius: 8px;
}

.search {
    z-index: 402;
    display: block;
    max-width: 200px;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
    margin-bottom: 20px;
}

.list-info-gs {
    margin-bottom: 5px;
    cursor: pointer;
}