@import url('~bootstrap/dist/css/bootstrap.css');
@import url('~leaflet/dist/leaflet.css');
@import url('~leaflet-draw/dist/leaflet.draw.css');
@import url('~leaflet.measurecontrol/docs/leaflet.measurecontrol.css');
@import url('~leaflet-mouse-position/src/L.Control.MousePosition.css');

html,
body {
  height: 100%;
  weight: 100%;
}

#main_view {
  height: 100%;
  width: 100%;
}

#map_view {
  height: 100%;
}

