.info {
    overflow-y: scroll;
    max-height: 690px;
}

.full-info {
    word-break: break-all;
}

.markers-info {
    z-index: 401;
    min-height: 50px;
    min-width: 200px;
    top: 100px;
    left: 5px;
    max-width: 200px;
    position: absolute;
    display: block;
    justify-content: center;
    padding: 10px;
    opacity: 0.9;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.sight {
    min-width: 100px;
    height: 100%;
    background-color: #aacbcb;
    margin-top: 20px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #808080;
    padding: 10px;
    float: centr;
    border-width: thin;
    border-style: dashed;
    border-color: #99b8b8;
}