.info {
    overflow-y: scroll;
    max-height: 690px;
}

.disabled {
    background-color: #808080;
    cursor: not-allowed;
}

.selected {
    background-color: #337ab7;
}

.full-info {
    word-break: break-all;
}

.page-link.total {
    border-radius: 30%;
    background-color: rgba(153, 207, 252, 0.76);
}

.markers-info {
    z-index: 401;
    min-height: 50px;
    min-width: 200px;
    top: 100px;
    left: 5px;
    max-width: 200px;
    position: absolute;
    display: block;
    justify-content: center;
    padding: 10px;
    opacity: 0.9;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.sight {
    min-width: 100px;
    height: 100%;
    background-color: #aacbcb;
    margin-top: 20px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #808080;
    padding: 10px;
    float: centr;
    border-width: thin;
    border-style: dashed;
    border-color: #99b8b8;
}

.list-group {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 600px;
    max-width: 300px;
}

.my-stylish {
    padding-top: 10px;
    position: relative;
    height: 90px;
    width: 160px;
    word-wrap: inherit;
    border-radius: 10%
}

.total {
    position: relative;
    margin-left: 60px;
    display: block;
    clear: left;
    right: 0px;
    left: 35px;
}

.limiters {
    position: relative;
    bottom: -35px;
    right: 38px;
}

.active {
    background-color: #337ab7 !important;
    color: white !important;
}