<div class="search-area position-fixed">
    <div class="search-controls">
        <input type="text" placeholder="Search for Sights" class="search-bar"/>
    </div>
    <div class="sights-list"></div>
</div>

<div class="container position-fixed"></div>