<div class="search-area position-fixed">
    <div class="input-group search">
        <input type="text" class="search-bar" placeholder="Поиск">
    </div>
    <div class="sights-list"></div>
<div class="container position-fixed"></div>