<div class="search-area position-fixed">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск">
    </div>
    <div class="sights-list"></div>
<div class="container position-fixed"></div>