<div class="list-group-item list-group-item-action active">
    <div class="title-info">{{name}}</div>
</div>
<div class="list-group-item list-group-item-action p-2">
    <div class="full-info">{{{geometry}}}</div>
</div>