<div class="list-group-item list-group-item-action active">
    <div class="title-info">{{title}}</div>
</div>
<div class="list-group-item list-group-item-action p-2">
    <div class="logo"><img src="{{image}}"></div>
     <div class="address"><strong>Адрес:</strong><br>{{address}}</div> 
    <div class="full-info"><strong>Координаты:</strong><br>{{{geometry}}}</div>
</div>
