<div class="unauth-controls">
    <button class="btn btn-primary registration" role="button">Регистрация</button>
    <button class="btn btn-primary login" role="button">Вход</button>
</div>

<div class="container position-fixed"></div>